<footer class="container-fluid" style="background-color: #e3f2fd">
  <div class="row text-center">
    <div class="col-md-12 my">
      <h1>artGal</h1>
    </div>
    <div class="col-md-3 mx-auto">
      <a href="#">contact us</a>
      <p>
        <a href="#">
          <img src="/images/logo-facebook.svg" width="30" height="30" alt="" />
        </a>
        <a href="#">
          <img src="/images/logo-twitter.svg" width="30" height="30" alt="" />
        </a>
        <a href="#">
          <img src="/images/logo-instagram.svg" width="30" height="30" alt="" />
        </a>
      </p>
    </div>
    <div class="col-md-3 mx-auto copy">
      <a href="#">about us </a>
      <p>share your work and creative thoughts</p>
    </div>
  </div>
</footer>
