<footer class="container-fluid">
  <div class="row text-center">
    <div class="col-md-3 mx-auto my-4">
      <strong style="font-size: x-large" class="wt">Contact us</strong> <br />

      <a href="#" style="text-decoration: none; font-size: large" class="wt"
        >PHONE 0500305011</a
      >
      <br />
      <a
        href="#"
        style="text-decoration: none; font-size: large"
        class="wt btn btn-outline-danger mb-1"
        >email heba@hotmail.com</a
      >
      <br />
      <a href="#" style="text-decoration: none; font-size: large" class="wt"
        >Adress Allepo Syria 222-street</a
      >
      <br />
      <br />

      <div class="row d-inline-block">
        <a href="#">
          <img src="/images/facebook.png" width="30" height="30" alt="" />
        </a>
        <a href="#">
          <img src="/images/twitter.png" width="30" height="30" alt="" />
        </a>
        <a href="#">
          <img src="/images/insta.png" width="30" height="30" alt="" />
        </a>
      </div>
    </div>
    <div class="col-md-3 mx-auto my-4">
      <a href="#" class="wt" style="text-decoration: none; font-size: x-large"
        ><strong> Let's talk</strong>
      </a>
      <p class="m-2" style="color: #fff; font-size: medium">
        every project starts with a chat we will be happy to discuss your
        project share your work and creative thoughts
      </p>
      <button class="btn btn-outline-warning">
        tell us about your project
      </button>
    </div>
  </div>
</footer>
