
<nav class="navbar navbar-expand-lg  navbar-light d-flex"style="background-color: #e3f2fd;">
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">home</a>
            <a class="nav-item nav-link" href="#"> profile</a>
            <a class="nav-item nav-link" href="#"> explore</a>

        </div>

    </div>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="#"> log in</a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"> sign up</a>

        </li>
    </ul>
</nav>
