html,
body {
  background-color: #f5f5f5;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 80px;
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
}
.content p {
  font-family: "Times New Roman", Times;
  font-size: 26px;
}
.article {
  padding: 50px;
  margin: 20px;
}

.nav-link {
  color: #fff;
}

nav-link:focus,
.nav-link:hover {
  color: rgba(255, 255, 255, 0.781);
}
#car {
  height: 500px;
  background-position: center;
  background-size: cover;
}
#jumb {
  height: 200px;
  padding-bottom: 0%;
  margin-bottom: 0%;
  background-image: url(/images/pics/art.webp);
}
#jumbSon {
  position: relative;
}
#profile {
  height: 200px;
  width: 200px;
  position: absolute;
  object-fit: cover;
}
.container img:hover {
  cursor: pointer;
  opacity: 0.8;
  filter: alpha(opacity=30);
}
#dropdown {
  min-width: 7rem;
  color: #fff;
}
#navbarDropdown {
  color: #fff;
}
#navbarDropdown:hover {
  color: rgba(255, 255, 255, 0.781);
}
.dropdown-menu {
  background: linear-gradient(180deg, #fc466b 0%, #1b177c 100%);
}
.dropdown-item {
  color: #fff;
}

.dropdown-item :hover {
  color: rgba(255, 255, 255, 0.5);
}

h2 {
  text-transform: capitalize;
  /* margin-bottom: 40px;
  margin-top: 40px; */
  text-decoration: none;
  color: #222;
}
h3 {
  font-size: xx-large;
  text-decoration: none;
  color: #222;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.content {
  margin-left: 20px;
}
#arti {
  font-size: large;
}
/* index styles */
.blogs div {
  text-decoration: none;
  color: rgb(90, 89, 89);
  display: block;
  margin: 40px 0;
  padding-left: 30px;
  border-left: 6px solid rgb(69, 80, 231);
  max-width: 75%;
}
.blogs a:hover h3 {
  color: rgb(69, 80, 231);
}
.blogs a img {
  display: inline;
}
.single span {
  color: rgb(151, 151, 151);
}
@keyframes pulse {
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(0);
  }
}
.icon-rotated {
  animation: pulse 0.5s 1 ease-in;
}

.thumbnail:hover {
  cursor: pointer;
  opacity: 0.8;
  filter: alpha(opacity=30);
  /* box-shadow: 1px 1px 2px black, 0 0 25px rgb(120, 153, 168), 0 0 5px darkblue; */
}
.thumbnail {
  overflow: hidden;
  position: relative;
}
.zoom img:hover {
  transform: scale(1.2);
}

#pic {
  height: 300px;
  width: 300px;
  object-fit: cover;
  position: relative;
  transition: transform 0.5s ease;
}

.like {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.gallery-shadow {
  position: absolute;
  top: 0;
  left: 0;
}

.star {
  margin: 7px;
  height: 30px;
  width: 30;
  cursor: pointer;
}

.wt {
  color: #fff;
}

footer a:hover {
  color: rgba(255, 255, 255, 0.781);
}
footer {
  background: linear-gradient(180deg, #1b177c 0%, #fc466b 100%);
  height: 260px;
}

#home-tab,
#messages-tab,
#settings-tab {
  color: black;
}

/* button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 14px;
  padding: 4px 8px;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
button:hover,
button:focus,
button:active {
  cursor: pointer;
  background-color: #ecf0f1;
} */
.comment-thread {
  width: 700px;
  max-width: 100%;
  margin: auto;
  padding: 0 30px;
  background-color: #fff;
  border: 1px solid transparent; /* Removes margin collapse */
}
.m-0 {
  margin: 0;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Comment */

.comment {
  position: relative;
  margin: 20px auto;
}
.comment-heading {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 14px;
}
/* .comment-voting {
  width: 20px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
} */
/* .comment-voting button {
  display: block;
  width: 100%;
  height: 50%;
  padding: 0;
  border: 0;
  font-size: 10px;
} */
.comment-info {
  color: rgba(0, 0, 0, 0.5);
  /* margin-left: 10px; */
}
.comment-author {
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  text-decoration: none;
}
.comment-author:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.85);
}

.btn-default {
  background-color: #1b177c;

  color: #fff;

  border-color: #2f3e48;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #94bbf4;
  color: #fff;

  border-color: #484b99;
}
#coll {
  margin-right: 20px;
}
